In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.0.3'

# Creating Series From List

In [3]:
list_l = [1,'a', 2.5, 'Dipen',-3]
print(list_l)

[1, 'a', 2.5, 'Dipen', -3]

In [4]:
series_l= pd.Series(list_l)
print(series_l)

0        1
1        a
2      2.5
3    Dipen
4       -3
dtype: object

In [5]:
type(series_l)

pandas.core.series.Series

# Creating Empty Series

In [6]:
empty_s = pd.Series([],dtype=int)
print(empty_s)

Series([], dtype: int64)

# Creating Series using a different method

 **List Inside Series**

In [7]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b','c','d','e'])
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b','c','d','e'], dtype=float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

# Creating Series From Scalar Values

In [10]:
s3_scalar = pd.Series(2)
print(s3_scalar)

0    2
dtype: int64

In [11]:
s3_scalar = pd.Series(2,index = [1,2,3,4,5])
print(s3_scalar)

1    2
2    2
3    2
4    2
5    2
dtype: int64

## Creating Series From Python Dictionary

In [12]:
s4_dict = pd.Series({'a':1, 'b':2})
print(s4_dict)

a    1
b    2
dtype: int64

# Accessing elements from Series

In [13]:
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [14]:
series2['c']

3.0

# Slicing Series

In [15]:
series2[1:4]

b    2.0
c    3.0
d    4.0
dtype: float64

# Adding two Series

In [16]:
s5= pd.Series([1,2,3,4,5])
s6= pd.Series([1,2,3,4,5])
a=s5+s6
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

**We can also add the series using add method**

In [17]:
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

## Operators in Pandas

**min() operator gives minimum value of particular series**

In [18]:
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
max(s5)

5

In [20]:
min(s5)

1

**Conditional Operator**

In [21]:
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
s5[s5>2]

2    3
3    4
4    5
dtype: int64

In [23]:
s5[s5<5]

0    1
1    2
2    3
3    4
dtype: int64

## Using drop() function to eliminate any index value

In [24]:
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [25]:
s5.drop(0)

1    2
2    3
3    4
4    5
dtype: int64

## Adding unequal data values

In [26]:
s7=pd.Series([1,2,3,4,5,6])
s8=pd.Series([1,2,3])
s7+s8

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64