## How to Create Python Pandas DataFrame

In [1]:
import pandas as pd

**1. Create Empty DataFrame**

In [2]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

**2. Create DataFrame From List**

In [3]:
list = ['a','b','c']
print(list)

['a', 'b', 'c']

In [4]:
list_df = pd.DataFrame(list)
print(list_df)

   0
0  a
1  b
2  c

In [5]:
list_df

   0
0  a
1  b
2  c

In [6]:
list_of_list = [[1,2,3],['a','b','c'], [4,5,6]]
print(list_of_list)

[[1, 2, 3], ['a', 'b', 'c'], [4, 5, 6]]

In [7]:
df1= pd.DataFrame(list_of_list)

In [8]:
df1

   0  1  2
0  1  2  3
1  a  b  c
2  4  5  6

**3. Create DataFrame From Dictionary**

In [9]:
dict_1 = {'ID': [11,22,33,44]}
print(dict_1)

{'ID': [11, 22, 33, 44]}

In [10]:
df2= pd.DataFrame(dict_1)
df2

   ID
0  11
1  22
2  33
3  44

In [11]:
dict_2 = {'ID':[11,22,33,44], 'SN':[1,2,3,4]}
print(dict_2)

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [12]:
df3= pd.DataFrame(dict_2)
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

**4. Create DataFrame From List of Dictionaries**

In [13]:
ls_dict = [{'a':1, 'b':2},{'a':3,'b':4}]
print(ls_dict)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [14]:
df4 = pd.DataFrame(ls_dict)
df4

   a  b
0  1  2
1  3  4

In [15]:
ls_dict = [{'a':1, 'b':2},{'a':3,'b':4,'c':5}]
print(ls_dict)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4, 'c': 5}]

In [16]:
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  3  4  5.0

**Create DataFrame Using Dictionary of Series**

In [17]:
dict_sr = {'a':pd.Series([1,2,3]), 'b':pd.Series([4,5,6])}
df6 = pd.DataFrame(dict_sr)
df6

   a  b
0  1  4
1  2  5
2  3  6