In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('/home/dipendra/django/Pandas_Practice/student_10.csv')
df

         Date  Student ID  Class  Study hrs  Percantege
0  01-07-2019      1001.0     10        2.0        50.0
1  02-07-2019      1002.0     10        NaN        80.0
2  03-07-2019         NaN     10        3.0        60.0
3  06-07-2019         NaN     11        0.0         NaN
4  07-07-2019      1005.0     11        4.0         NaN
5  08-07-2019         NaN     11       10.0         NaN
6  09-07-2019      1007.0     12        4.0        80.0
7  10-07-2019      1008.0     12        NaN        90.0
8  11-07-2019      1009.0     12        NaN        60.0
9  12-07-2019      1010.0     12        6.0        85.0

**To change the 'Date' column datatypes to DatetimeIndex datatype we use 'parse_dates' parameter**

In [6]:
df = pd.read_csv('/home/dipendra/django/Pandas_Practice/student_10.csv', parse_dates = ['Date'])
df

        Date  Student ID  Class  Study hrs  Percantege
0 2019-01-07      1001.0     10        2.0        50.0
1 2019-02-07      1002.0     10        NaN        80.0
2 2019-03-07         NaN     10        3.0        60.0
3 2019-06-07         NaN     11        0.0         NaN
4 2019-07-07      1005.0     11        4.0         NaN
5 2019-08-07         NaN     11       10.0         NaN
6 2019-09-07      1007.0     12        4.0        80.0
7 2019-10-07      1008.0     12        NaN        90.0
8 2019-11-07      1009.0     12        NaN        60.0
9 2019-12-07      1010.0     12        6.0        85.0

In [7]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
df.dtypes

Date          datetime64[ns]
Student ID           float64
Class                  int64
Study hrs            float64
Percantege           float64
dtype: object