## Pandas Loc

**Access group of rows & column by label(s) or boolean array.**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/dipendra/django/Pandas_Practice/student_result.csv')
df

   Student ID  Class  Study hrs  Social Media Usage  Percentage
0        1001     10          2                   3          50
1        1002     10          6                   2          80
2        1003     10          3                   2          60
3        1004     11          0                   1          45
4        1005     12          5                   2          75
5        1006     13          6                   3          76

**1. Single label**

In [3]:
df.loc[0]

Student ID            1001
Class                   10
Study hrs                2
Social Media Usage       3
Percentage              50
Name: 0, dtype: int64

**2. List or array of labels**

In [4]:
df.loc[[0,1]]

   Student ID  Class  Study hrs  Social Media Usage  Percentage
0        1001     10          2                   3          50
1        1002     10          6                   2          80

In [5]:
df.loc[[2,4]]

   Student ID  Class  Study hrs  Social Media Usage  Percentage
2        1003     10          3                   2          60
4        1005     12          5                   2          75

**3. Get specific column value**

In [6]:
df.loc[4,'Class']

12

**4. A slice object with labels, e.g. 'a':'f'.**

In [7]:
df

   Student ID  Class  Study hrs  Social Media Usage  Percentage
0        1001     10          2                   3          50
1        1002     10          6                   2          80
2        1003     10          3                   2          60
3        1004     11          0                   1          45
4        1005     12          5                   2          75
5        1006     13          6                   3          76

In [8]:
df.loc[0:3, 'Class']

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [9]:
df.loc[0:2, 'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

**5. A boolean array of the same length as the axis being sliced**

***Returns those rows only which matches the index values as True***

In [10]:
df.loc[[False, False, True,False, True,True]]

   Student ID  Class  Study hrs  Social Media Usage  Percentage
2        1003     10          3                   2          60
4        1005     12          5                   2          75
5        1006     13          6                   3          76

**6. Conditional Operations**

In [11]:
df.loc[df['Class']<11]

   Student ID  Class  Study hrs  Social Media Usage  Percentage
0        1001     10          2                   3          50
1        1002     10          6                   2          80
2        1003     10          3                   2          60

***if you want conditional operation only to the specific columns***

In [12]:
df.loc[df['Class']<11, 'Percentage']

0    50
1    80
2    60
Name: Percentage, dtype: int64

## Pandas iloc

**Integer Location-Based indexing**

***We use iloc to access rows and columns by its number***

In [13]:
df.iloc[0]

Student ID            1001
Class                   10
Study hrs                2
Social Media Usage       3
Percentage              50
Name: 0, dtype: int64

In [14]:
df.iloc[[0]]

   Student ID  Class  Study hrs  Social Media Usage  Percentage
0        1001     10          2                   3          50

***Gives all rows with specified column***

In [15]:
df.iloc[:,0]

0    1001
1    1002
2    1003
3    1004
4    1005
5    1006
Name: Student ID, dtype: int64

In [16]:
df.iloc[:,1]

0    10
1    10
2    10
3    11
4    12
5    13
Name: Class, dtype: int64

In [19]:
df.iloc[[0,1]]

   Student ID  Class  Study hrs  Social Media Usage  Percentage
0        1001     10          2                   3          50
1        1002     10          6                   2          80

In [24]:
df.iloc[[True,False,True,False,False,False]]

   Student ID  Class  Study hrs  Social Media Usage  Percentage
0        1001     10          2                   3          50
2        1003     10          3                   2          60